In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("datos.txt")

In [4]:
data

     Precio
0     $10.0
1     $11.1
2      $9.1
3  $10.11.1
4      $9.1
5    $10.11

In [10]:
def precios_to_decimal(d):
    return float(d)

In [11]:
data['z'] = data['Precio'].apply(precios_to_decimal)

ValueError: could not convert string to float: '$10.0'

In [12]:
data

     Precio                    z
0     $10.0     El precio: $10.0
1     $11.1     El precio: $11.1
2      $9.1      El precio: $9.1
3  $10.11.1  El precio: $10.11.1
4      $9.1      El precio: $9.1
5    $10.11    El precio: $10.11